<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
	<h:outputStylesheet library="css" name="logika_main.css" />
	<title>Logika</title>
</h:head>

<h:body>
	<p:growl id="growl"/>
	<div id="wrapper">
		<div id="header-wrapper">
			<ui:insert name="top">
				<ul>
					<li><a href="home.xhtml" style="font-family: Cooper, Comic Sans MS;font-style: italic;font-size: 2em;">LOGIkA</a></li>
				</ul>
			</ui:insert>
		</div>

		<div id="page">
			<ui:insert name="content">Contenido</ui:insert>
		</div>
	</div>
</h:body>

</html>