<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	>
	<h:head>
        <title>Historia de usuario</title>
    </h:head>
<h:body>
	<ui:composition  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
		template="./WEB-INF/layout/template.xhtml">
		<ui:define name="top">
			<ul>
				<li><a class="icono" href="home.xhtml" style="font-family: Cooper, Comic Sans MS;font-style: italic;font-size: 2em;">LOGIkA</a></li>
				<li><a href="UsuariosList.xhtml">Usuarios</a></li>
				<li><a href="RolesList.xhtml">Roles</a></li>
				<li><a href="ProyectosList.xhtml">Proyectos</a></li>
				<li><a href="SprintList.xhtml">Sprints</a></li>
				<li><a href="HistoriasList.xhtml">Historias de usuarios</a></li>
			</ul>
		</ui:define>
		<ui:define name="content">
			<h:form id="form">
            	<p:growl id="messages" showDetail="true" />
	            <p:panel header="Historia de Usuario" id="historiaInfo" >
    	        	<p:panelGrid columns="2">
    	        		<!-- <label>Id historia: </label>
            			<p:inputText value="#{historiaDeUsuarioBean.nuevo.idHistoria}"/>  -->
        	    		<label>Resumen: </label>
            			<p:inputText value="#{historiaDeUsuarioBean.nuevo.resumen}"/>
            			<label>Descripcion: </label>
            			<p:inputText value="#{historiaDeUsuarioBean.nuevo.descripcion}"/>
            			<label>Prioridad: </label>
            			<p:inputText id="button" value="#{historiaDeUsuarioBean.nuevo.prioridad}" showOn="button"/>
            			<label>Estado: </label>
            			<p:inputText id="button1" value="#{historiaDeUsuarioBean.nuevo.estadoKamban}" showOn="button"/>
            			
            			<p:outputLabel for="Sprint" value="Sprint:" />
        				<p:selectOneMenu id="Sprint" value="#{historiaDeUsuarioBean.nuevo.nombreSprint}" dynamic="true" style="width:125px">
           				 <f:selectItem itemLabel="" itemValue="" />           				 
           				 <f:selectItems value="#{historiaDeUsuarioBean.nombreSprint}" />
        				</p:selectOneMenu>
        				
            			<p:outputLabel for="proyecto" value="Nombre proyecto:" />
        				<p:selectOneMenu id="proyecto" value="#{historiaDeUsuarioBean.nuevo.idProyecto}" dynamic="true" style="width:125px">
           				 <f:selectItem itemLabel="" itemValue="" />
           				 <f:selectItems value="#{historiaDeUsuarioBean.nombreProyecto}" />
        				</p:selectOneMenu>
       					
        				
            			<p:outputLabel for="responsable" value="Responsable:" />
        				<p:selectOneMenu id="responsable" value="#{historiaDeUsuarioBean.nuevo.nombreUsuario}" dynamic="true" style="width:125px">
           				 <f:selectItem itemLabel="" itemValue="" />
           				 <f:selectItems value="#{historiaDeUsuarioBean.responsable}" />
        				</p:selectOneMenu>
        				
        				<p:outputLabel for="rol" value="Rol:" />
        				<p:selectOneMenu id="rol" value="#{historiaDeUsuarioBean.nuevo.rol}" dynamic="true" style="width:125px">
           				 <f:selectItem itemLabel="" itemValue="" />
           				 <f:selectItems value="#{historiaDeUsuarioBean.rol}" />
        				</p:selectOneMenu>
            			
    	        	</p:panelGrid>            	
        	    	<p:commandButton value="Guardar" icon="ui-icon-dis" actionListener="#{historiaDeUsuarioBean.guardar}" 
            		update=":form:historiasList, :form:historiaInfo"></p:commandButton>
            	</p:panel>
	            <p:dataTable id="historiasList" value="#{historiaDeUsuarioBean.historiaDeUsuario}" var="historiasList" selection="#{historiaDeUsuarioBean.seleccionado}" 
    	        selectionMode="single" rowKey="#{historiasList.resumen}">
        	    	<p:ajax event="rowSelect" update=":form:historiaInfo" listener="#{historiaDeUsuarioBean.mostrarSeleccionado}"></p:ajax>
            	    <f:facet name="header">Historia de usuario</f:facet>
            	    <p:column headerText="idHistoria">
                    	#{historiasList.idHistoria}
	                </p:column>
                	<p:column headerText="resumen">
                    	#{historiasList.resumen}
	                </p:column>
    	            <p:column headerText="Descripcion">
						#{historiasList.descripcion}
            	    </p:column>
                	<p:column headerText="prioridad">
						#{historiasList.prioridad}
	                </p:column>
	                <p:column headerText="estadoKamban">
						#{historiasList.estadoKamban}
	                </p:column>
	                <p:column headerText="idSprint">
						#{historiasList.idSprint}
	                </p:column>
	                <p:column headerText="idProyecto">
						#{historiasList.idProyecto}
	                </p:column>
	                <p:column headerText="nombreUsuario">
						#{historiasList.nombreUsuario}
	                </p:column>
    	        </p:dataTable>
    	    </h:form>
		</ui:define>
		
	</ui:composition>
</h:body>
</html>
