<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
		template="./WEB-INF/layout/template.xhtml">
		<ui:define name="top">
			<ul>
				<li><a class="icono" href="home.xhtml" style="font-family: Cooper, Comic Sans MS;font-style: italic;font-size: 2em;">LOGIkA</a></li>
				<li><a href="UsuariosList.xhtml">Usuarios</a></li>
				<li><a href="RolesList.xhtml">Roles</a></li>
				<li><a href="ProyectosList.xhtml">Proyectos</a></li>
				<li><a href="SprintList.xhtml">Sprints</a></li>
				<li><a href="HistoriasList.xhtml">Historias de usuarios</a></li>
			</ul>			
		</ui:define>
		<ui:define name="content">				
				<h:outputText class="titulo" value="Bienvenido #{sesion.nombre.concat(' ').concat(sesion.apellido)}"></h:outputText>
				<p:chart type="line" model="#{homeBean.prodBackChart}" style="height:300px;"/>				
				<br /><br />
				<br /><br />
				<p:chart type="pie" model="#{homeBean.pieModel1}" style="width:400px;height:300px" />
		</ui:define>
	</ui:composition>
</h:body>
</html>
