<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	

<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./WEB-INF/layout/template.xhtml">
	
	<ui:define name="content">
		<p:growl styleClass="" globalOnly="true"></p:growl>
		<h:form id="loginForm" style="width:250px;margin-left:auto;margin-right:auto;align:center">		
			<h:panelGrid header="Inicio de Sesión">
				<div class="dialog">
					<p class="pTitle">Bienvenido a LOGIKA</p>
					<h:panelGrid columns="2">
						<h:column><p style="text-align:right">Usuario</p></h:column>						
						<h:column id="usernameField">	
							<h:inputText id="username" value="#{sesion.nickName}"
								styleClass="inputs" required="true" />
						</h:column>
						<h:column><p style="text-align:right">Contrase&ntilde;a</p></h:column>						
						<h:column id="passwordField">
							<h:inputSecret type="password" id="password"
								value="#{sesion.password}" styleClass="inputs"
								required="true" />
						</h:column>
					</h:panelGrid>
				</div>
				<h:panelGrid columns="2">
					<h:commandButton styleClass="btn btn-md btn-default" id="submit"
						value="Entrar" action="#{sesion.enviar}" />
					<p style="padding-left: 20px;"><a href="#">¿No puede acceder?</a></p>
				</h:panelGrid>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>