<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	>
	<h:head>
        <title>Proyectos</title>
    </h:head>
<h:body>
	<ui:composition  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
		template="./WEB-INF/layout/template.xhtml">
		<ui:define name="top">
			<ul>
				<li><a class="icono" href="home.xhtml" style="font-family: Cooper, Comic Sans MS;font-style: italic;font-size: 2em;">LOGIkA</a></li>
				<li><a href="UsuariosList.xhtml">Usuarios</a></li>
				<li><a href="RolesList.xhtml">Roles</a></li>
				<li><a href="ProyectosList.xhtml">Proyectos</a></li>
				<li><a href="SprintList.xhtml">Sprints</a></li>
				<li><a href="HistoriasList.xhtml">Historias de usuarios</a></li>
			</ul>
		</ui:define>
		<ui:define name="content">
			<h:form id="form">
            	<p:growl id="messages" showDetail="true" />
	            <p:panel header="Información Proyecto" id="proyectoInfo" >
    	        	<p:panelGrid columns="2">
    	        		<p:outputLabel for="id_proyecto" value="Id_proyecto: "/>
            			<p:inputText id="id_proyecto" value="#{proyectoBean.nuevo.idProyecto}" required="true"/>
            			<p:outputLabel for="nombre" value="Nombre: "/>
            			<p:inputText id="nombre" value="#{proyectoBean.nuevo.nombre}" required="true"/>
            			<p:outputLabel for="descripcion" value="Descripcion: "/>
            			<p:inputText id="descripcion" value="#{proyectoBean.nuevo.descripcion}"  required="true"/>
            			<p:outputLabel for="button" value="Fecha inicio: "/>
            			<p:calendar id="button" value="#{proyectoBean.nuevo.fechaInicio}" showOn="button"  pattern="dd/MM/yyyy" datePattern="dd/MM/yyyy"  required="true"/>
            			<p:outputLabel for="button1" value="Fecha fin: "/>
            			<p:calendar id="button1" value="#{proyectoBean.nuevo.fechaFin}" showOn="button" pattern="dd/MM/yyyy" datePattern="dd/MM/yyyy"  required="true"/>
            			
      				 	<p:outputLabel for="lazy" value="Estado:" />
        			<p:selectOneMenu id="lazy" value="#{proyectoBean.nuevo.estado}" dynamic="true" style="width:125px">
            			<f:selectItem itemLabel=" " itemValue="" />
           				 <f:selectItems value="#{proyectoBean.listadoEstado()}" required="true" />
       				 </p:selectOneMenu>

    	        	</p:panelGrid>            	
        	    	<p:commandButton value="Guardar" icon="ui-icon-dis" actionListener="#{proyectoBean.guardar}" 
            		update=":form:proyectosList, :form:proyectoInfo :form:messages"></p:commandButton>
            	</p:panel>
	            <p:dataTable id="proyectosList" value="#{proyectoBean.proyecto}" var="proyectosList" selection="#{proyectoBean.seleccionado}" 
    	        selectionMode="single" rowKey="#{proyectosList.nombre}">
        	    	<p:ajax event="rowSelect" update=":form:proyectoInfo" listener="#{proyectoBean.mostrarSeleccionado}"></p:ajax>
            	    <f:facet name="header">Lista de Proyectos</f:facet>
            	    <p:column headerText="Id_proyecto">
                    	#{proyectosList.idProyecto}
	                </p:column>
                	<p:column headerText="Nombre">
                    	#{proyectosList.nombre}
	                </p:column>
    	            <p:column headerText="Descripcion">
						#{proyectosList.descripcion}
            	    </p:column>
                	<p:column headerText="Fecha_inicio">
						#{proyectosList.fechaInicio}
	                </p:column>
	                <p:column headerText="Fecha_fin">
						#{proyectosList.fechaFin}
	                </p:column>
	                <p:column headerText="Estado">
						#{proyectosList.estado}
	                </p:column>
    	        </p:dataTable>
    	    </h:form>
		</ui:define>
		
	</ui:composition>
</h:body>
</html>
