<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core" 
	xmlns:p="http://primefaces.org/ui">
	<h:head>
        <title>Roles</title>
    </h:head>
<h:body>
	<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
		template="./WEB-INF/layout/template.xhtml">
		<ui:define name="top">
			<ul>
				<li><a class="icono" href="home.xhtml" style="font-family: Cooper, Comic Sans MS;font-style: italic;font-size: 2em;">LOGIkA</a></li>
				<li><a href="UsuariosList.xhtml">Usuarios</a></li>
				<li><a href="RolesList.xhtml">Roles</a></li>
				<li><a href="ProyectosList.xhtml">Proyectos</a></li>
				<li><a href="SprintList.xhtml">Sprints</a></li>
				<li><a href="HistoriasList.xhtml">Historias de usuarios</a></li>
			</ul>
		</ui:define>
		<ui:define name="content">
        	<h:form id="form">
            	<p:growl id="messages"/>
	            <p:panel header="Informacion Roles" id="rolInfo" >
    	        	<p:panelGrid columns="2">
        	    		<label>Descripcion: </label>
            			<p:inputText value="#{rolBean.nuevo.descripcion}"/>
            			<label>Permiso: </label>
        				<p:selectOneRadio id="permiso" value="#{rolBean.nuevo.permiso.id}" unselectable="true">
            				<f:selectItems value="#{rolBean.permisos}" var="c" itemLabel="#{c.descripcion}" itemValue="#{c.id}"/>
        				</p:selectOneRadio>
    	        	</p:panelGrid>
        	    	<p:commandButton value="Guardar" icon="ui-icon-dis" actionListener="#{rolBean.guardar}" disabled="#{sesion.permiso.descripcion.equals('SOLO VISUALIZACIÓN')}"
            		update=":form:rolesList, :form:rolInfo"></p:commandButton>
            	</p:panel>
	            <p:dataTable id="rolesList" value="#{rolBean.roles}" var="rolList" selection="#{rolBean.seleccionado}" 
    	        selectionMode="single" rowKey="#{rolList.codigo}">
        	    	<p:ajax event="rowSelect" update=":form:rolInfo" listener="#{rolBean.mostrarSeleccionado}"></p:ajax>
            	    <f:facet name="header">Lista de roles</f:facet>
            	    <p:column headerText="Codigo" style="width=20%">
                    	#{rolList.codigo}
	                </p:column>
                	<p:column headerText="Nombre" style="width=80%">
                    	#{rolList.descripcion}
	                </p:column>
			     	<p:column headerText="Permiso" style="width=80%">
                    	#{rolList.permiso.descripcion}
	                </p:column>
    	        </p:dataTable>
    	    </h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
