<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
        <title>Sprint</title>
    </h:head>
<h:body>
	<ui:composition  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
		template="./WEB-INF/layout/template.xhtml">
		<ui:define name="top">
			<ul>
				<li><a class="icono" href="home.xhtml" style="font-family: Cooper, Comic Sans MS;font-style: italic;font-size: 2em;">LOGIkA</a></li>
				<li><a href="UsuariosList.xhtml">Usuarios</a></li>
				<li><a href="RolesList.xhtml">Roles</a></li>
				<li><a href="ProyectosList.xhtml">Proyectos</a></li>
				<li><a href="SprintList.xhtml">Sprints</a></li>
				<li><a href="HistoriasList.xhtml">Historias de usuarios</a></li>
			</ul>
		</ui:define>
		<ui:define name="content">
			<h:form id="form">
            	<p:growl id="messages" showDetail="true" />
	            <p:panel header="Informacion Sprint" id="sprintInfo" >
    	        	<p:panelGrid columns="2">
        	    		<p:outputLabel value="Nombre:" for="nombre"/>
            			<p:inputText id="nombre" value="#{sprintBean.nuevo.nombre}" required="true"/>
            			<p:outputLabel for="fechaIni" value="Fecha inicio:" />
            			<p:calendar id="fechaIni" value="#{sprintBean.nuevo.fechaInicio}" showOn="button"  pattern="dd/MM/yyyy" datePattern="dd/MM/yyyy"  required="true"/>
            			<p:outputLabel for="fechaFin" value="Fecha fin:" />
            			<p:calendar id="fechaFin" value="#{sprintBean.nuevo.fechaFin}" showOn="button" pattern="dd/MM/yyyy" datePattern="dd/MM/yyyy"  required="true"/>
            			<p:outputLabel for="fechaFinEst" value="Fecha fin Estimada:" />
            			<p:calendar id="fechaFinEst" value="#{sprintBean.nuevo.fechaFinEstimada}" showOn="button" pattern="dd/MM/yyyy" datePattern="dd/MM/yyyy"  required="true"/>
            			<p:outputLabel for="proyecto" value="Proyecto Asignado:"/>
            			<p:autoComplete id="proyecto" value="#{sprintBean.nuevo.descProyecto}" completeMethod="#{sprintBean.completeProyecto}"
                        forceSelection="true" />
    	        	</p:panelGrid>            	
        	    	<p:commandButton value="Guardar" icon="ui-icon-dis" actionListener="#{sprintBean.guardar}" disabled="#{sesion.permiso.descripcion.equals('SOLO VISUALIZACIÓN')}"
            		update=":form:sprintList, :form:sprintInfo"></p:commandButton>
            	</p:panel>
	            <p:dataTable id="sprintList" value="#{sprintBean.sprints}" var="sprintList" selection="#{sprintBean.seleccionado}" 
    	        selectionMode="single" rowKey="#{sprintList.nombre}">
        	    	<p:ajax event="rowSelect" update=":form:sprintInfo" listener="#{sprintBean.mostrarSeleccionado}"></p:ajax>
            	    <f:facet name="header">Sprint Backlogs</f:facet>
                	<p:column headerText="Nombre">
                    	#{sprintList.nombre}
	                </p:column>
                	<p:column headerText="Fecha inicio">
						#{sprintList.fechaInicio}
	                </p:column>
	                <p:column headerText="Fecha fin">
						#{sprintList.fechaFin}
	                </p:column>
	                <p:column headerText="proyecto">
						#{sprintList.descProyecto}
	                </p:column>
    	        </p:dataTable>
    	    </h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
