<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core" 
	xmlns:p="http://primefaces.org/ui">
	<h:head>
        <title>Usuarios</title>
    </h:head>
<h:body>
	<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
		template="./WEB-INF/layout/template.xhtml">
		<ui:define name="top">
			<ul>
				<li><a class="icono" href="home.xhtml" style="font-family: Cooper, Comic Sans MS;font-style: italic;font-size: 2em;">LOGIkA</a></li>
				<li><a href="UsuariosList.xhtml">Usuarios</a></li>
				<li><a href="RolesList.xhtml">Roles</a></li>
				<li><a href="ProyectosList.xhtml">Proyectos</a></li>
				<li><a href="SprintList.xhtml">Sprints</a></li>
				<li><a href="HistoriasList.xhtml">Historias de usuarios</a></li>				
			</ul>
		</ui:define>
		<ui:define name="content">
        	<h:form id="form">
            	<p:growl id="messages"/>
	            <p:panel header="Informacion Usuarios" id="usuarioInfo" >
    	        	<p:panelGrid columns="2">
        	    		<p:outputLabel for="nick" value="Nick: "/>
            			<p:inputText id="nick" value="#{usuarioBean.nuevo.nickName}" required="true"/>
            			<p:outputLabel for="nombre" value="Nombre: "/>
            			<p:inputText id="nombre" value="#{usuarioBean.nuevo.nombre}" required="true"/>
            			<p:outputLabel for="apellido" value="Apellido: "/>
            			<p:inputText id="apellido" value="#{usuarioBean.nuevo.apellido}" required="true"/>
            			<p:outputLabel for="email" value="Email: "/>
            			<p:inputText id="email" value="#{usuarioBean.nuevo.email}" required="true"/>
            			<p:outputLabel for="formPass" value="Contraseña:"/>
	            		<p:password id="formPass" value="#{usuarioBean.nuevo.contrasenha}"/>
            			<p:outputLabel for="activo" value="Activo: "/>
            			<p:selectBooleanCheckbox id="activo" value="#{usuarioBean.nuevo.estado}" required="true"/>					
    	        	</p:panelGrid>
        	    	<p:commandButton value="Guardar" icon="ui-icon-dis" actionListener="#{usuarioBean.guardar}" disabled="#{sesion.permiso.descripcion.equals('SOLO VISUALIZACIÓN')}"
            		update=":form:usuarioInfo, :form:usuariosList :form:messages"></p:commandButton>
            	</p:panel>
	            <p:dataTable id="usuariosList" value="#{usuarioBean.usuarios}" var="usuarioList" selection="#{usuarioBean.seleccionado}" 
    	        selectionMode="single" rowKey="#{usuarioList.nickName}">
        	    	<p:ajax event="rowSelect" update=":form:usuarioInfo" listener="#{usuarioBean.mostrarSeleccionado}"></p:ajax>
            	    <f:facet name="header">Lista de Usuarios</f:facet>
					<p:column headerText="Usuario">
						#{usuarioList.nickName}
	                </p:column>
					<p:column headerText="Nombre">
                    	#{usuarioList.nombre}
	                </p:column>
    	            <p:column headerText="Apellido">
						#{usuarioList.apellido}
            	    </p:column>
	                <p:column headerText="Correo">
						#{usuarioList.email}
	                </p:column>
	                <p:column headerText="Estado">
						#{usuarioList.estadoDesc}
	                </p:column>
    	        </p:dataTable>
    	    </h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>